*{
    padding: 0;
    margin: 0;
    background-color: #141313;
    color: white;
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#company{
    font-size: 20px;
    font-weight: 700;
}
#logo-text a{
    text-decoration: none;
}
a{
    text-decoration: none;
}

#company-wrapper{
    width: 1375px;
    margin: 0 auto;
    padding-top: 150px;
}
#list-image{
    width: 6rem;
    padding-bottom: 14px;
}
#description{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 14px;
    color: #C0C0C0;
    margin-top: 14px;

}
#link-wrapper{
    display: flex;
    gap: 14px;
   
}
#a-link a, #a-link-2-2{
    color: #FDFDFD;
}
#projects-title{
    font-size: 18px;
    margin-bottom: 14px;
}

#block-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    gap: 8px;
}